<header>
    <div>
       <h1>
        <a href="/" class="app-title" style="text-decoration: none; color: black;">
          <h1>todo app</h1>
        </a>
        </h1>

      <% if(!user){ %>
        <a href="/login">
          fazer login
        </a>
      <% } else{ %>  
        <span>
          Olá, <%= user.name %>!
        </span>
        <a href="/logout">
          logout
        </a>
      <% } %>

    </div>
    </header>