<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/styles/home.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <script src="script.js"></script>
</head>

<body>
  <header>
    <div>
      <h1>todo app</h1>

      <% if(!user){ %>
        <a href="/login">
          fazer login
        </a>
      <% } else{ %>  
        <span>
          Olá, <%= user.name %>!
        </span>
        <a href="/logout">
          logout
        </a>
      <% } %>

    </div>
    </header>
    
    <div id="main">
      <form id="create-todo" method="post" action="/api/todo">
        <input name="name"
               type="text"
               placeholder="nome da tarefa"
               minlength="5" maxlength="50"
               autocomplete="off" required
               <% if(!user){ %> disabled <% } %>  
               >
        <textarea name="description" id="" placeholder="descrição da tarefa" maxlength="140" <% if(!user){ %> disabled <% } %>  ></textarea>
        <select name="priority" id="priority-selector" onchange="change_select_color(this)" required <% if(!user){ %> disabled <% } %>  >
          <option value="" selected disabled hidden>-</option>
          <option value="2">alta</option>
          <option value="1">média</option>
          <option value="0">baixa</option>
        </select>
        <input type="submit" value="criar tarefa" <% if(!user){ %> disabled <% } %>>
      </form>

      <section id="todo-items">

        <% if(todo_items){ %> 

            <%for(var i = 0; i < todo_items.length; i++) {%>
                <%-include('fragment_todo_item', {data: todo_items[i]});%>
            <%}%>

        <% } %>


      </section>
    </div>
</body>


<script>
    function change_select_color(element) {
        const colors = ["rgba(82, 186, 45, 1)", "rgba(233, 150, 27, 1)", "rgba(233, 27, 27, 1)"];
        element.style.color = colors[element.value]; 
        element.style.backgroundColor = "white"; 
    }
</script>