<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/styles/login.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <script src="script.js"></script>
</head>

<body>
    <a href="/" class="app-title">
      <h1>todo app</h1>
    </a>
    
    <form class="login-form" method="post" action="api/login">
        <input name="password" type="password" placeholder="senha" minlength="4" maxlength="20" required>
        <input name="login" type="text" placeholder="login"  minlength="5" autocomplete="false" required>
        <a href="/register">criar usuário</a>
        <input type="submit" value="entrar">
    </form>
</body>